# Local team-multiplayer module. Start/publish it using the README instructions.
VITE_SPACETIMEDB_URI=http://127.0.0.1:3024
VITE_SPACETIMEDB_DB_NAME=tiny-knights-rect-dev
VITE_COMPANION_PLANNER=false
